
{% for bank in ynab_bank2ynab_banks %}

[{{ bank.name}}]
Use Regex For Filename = {{ bank.use_regex }}
Source Filename Pattern = {{ bank.source_filename_pattern }}
Header Rows = {{ bank.header_rows }}
Input Columns = {{ bank.input_columns }}
Date Format = {{ bank.date_format }}
Source CSV Delimiter = {{ bank.source_csv_delimiter }}
{% endfor %}
